/*BASES DU SITE A NE PAS MODIFIER*/
body {
    width: 80%;
    height: 100%;
    margin: 0 10% 0 10%;
    padding: 0;
    background: #dddddd;
}
header {
    width: 100%;
    background-image: url("pictures/Bannière(1).png");
    height: 176px;
    padding: 0;
    margin: 0;
}
footer {
    width: 80%;
    background-image: url("pictures/Bannière(1).png");
    height: 80px;
    padding: 0;
    margin: 80px 10% 0 10%;
    bottom: 0;
    left: 0;
    position: fixed;
}
nav {
    width: 100%;
    background: #6e0001;
}
a{
    text-decoration: none;
}
#banniere{
    width: 100%;
    height:auto;
    position: relative;
}
.logo{
    height: 120px;
    width: auto;
    text-align: left;
}
.footerstyle{
    font-family: 'Monda', sans-serif;
    color: #b34e4a;
    font-size: 15px;
    margin: 5px 20px;
    padding: 0;
}
#nepastoucher{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0 0 100px 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* NAVIGATION BAR */
#content li{
    display: inline-block;
    width: 15%;
    height: 30px;
    text-align: center;
    margin: 0;
    padding: 5px;

    color: #b34e4a;
    font-family: 'Monda', sans-serif;
    text-decoration: none;
}
#content li:hover{
    background: #5c0001;
    color: #cd534f;
}
#nav-list{
    text-align: center;
    margin-top: 16px;
    padding: 0;
    height: auto;
}
#content{
    display: inline;
    top:0;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* ELEMENTS A UTILSER EN COMMUN*/
.text-style{
    font-family: 'Monda', sans-serif;
    color: #6e0001;
    font-size: 20px;
}

.bouton{
    color: #6e0001;
    border:2px solid #6e0001;
    border-radius: 0.5em;
    background: #cd7b75;
    font-family: 'Monda', sans-serif;
    padding: 5px;
    text-align: center;
    box-shadow:2px 1px 1px rgba(0,0,0,0.4);
    width: auto;
}

.bouton:hover{
    background: #b32e26;
    color: #490001;
    border-color: #490001;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* PARTIE MAIN PAGE*/

.slider-list, ol {
    list-style: none;
    height:80px;
}
.main {
    width: 100%;
    margin: auto;
    overflow: hidden;
    color: #fff;
    top:0;

}
.slider {
    position: relative
}
.slider .slider-parent {
    padding: 0;
    display: flex;
    margin:0;
}
.slider .slider-parent .images-list {
    background-size: cover;
}
.slider .slider-parent .images-list:first-of-type, .slider .slider-parent .images-list:last-of-type {
    background-image: url(pictures/Speecar-Kesta.jpg)
}
.slider .slider-parent .images-list:nth-of-type(2) {
    background-image: url(pictures/Speedcar-KestaII.jpg)
}
.slider .slider-parent .images-list:nth-of-type(3) {
    background-image: url(pictures/Speedcar-KestaIII.jpg)
}
.slider .slider-parent .images-list:nth-of-type(4) {
    background-image: url(pictures/Speecar-Kesta.jpg)
}
.slider .buttom-circles {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -50px;
    color: #6e0001;
}
.slider .buttom-circles .buttom-circles-list {
    display: inline-block;
}
.slider .buttom-circles .buttom-circles-list:hover .fa:before, .slider
.buttom-circles .buttom-circles-list.slider-active .fa:before {
    content: "\f111";
}
.slider > .fa {
    position: absolute;
    top: 45%;
    color: #6e0001 ;
}
.slider > .fa:first-of-type { right: 5px}
.slider > .fa:last-of-type { left: 5px}
.slider .fa {
    text-shadow: 5px 5px 5px #555;
    cursor: pointer;
}
.slider .buttom-circles .buttom-circles-list {
    font-size: 35px;
}
.bigdiv{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*PARTIE CATALOGUE*/

#choice{
    margin-top: 6%;
}

a[id$="link"]{
    width: 10%;
    display: inline-block;
    text-decoration: none;
    color: #6e0001;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Tahoma', sans-serif;
}
a[id$="link"]:hover{
    color: #b32e26;
    text-decoration-line: overline;
}

#catalogue-icon-city-car{
    transform: scaleX(-1);
}

img[id*="catalogue-icon"]{
    width: 100px;
}

.items{
    width: 90%;
    padding-top: 7%;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*PARTIE CARTE INTERACTIVE*/
#map {
    padding-top: 5px;
    margin: 0 auto;
    width: 600px;
    height: 600px;
}

.main{
    width: 100%;
    text-align: center;
}

.textemain{
    text-align: center;
    margin-bottom: 20px;


/*--------------------------------------------------------------------------------------------------------------------*/
/*PARTIE HISTORIQUE*/


/*--------------------------------------------------------------------------------------------------------------------*/
/*PARTIE CONTACT*/


/*--------------------------------------------------------------------------------------------------------------------*/
/*MEDIA QUERY POUR MOBILE ET TABLETTE*/
@media screen and (max-width: 812px) {
    /*BASE RESPONSIVE*/
    body{
        width:100%;
        padding: 0;
        margin: 0;
    }
    nav{
        background: none;
        padding: 0;
        margin: 0;
    }
    header{
        height: 120px;
        padding-top: 0;
        margin-bottom: 150px;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    /* MENU DE NAVIGATION RESPONSIVE*/
    #content li{
        font-size: 20px;
        display: block;
        width: 100%;
        background: #6e0001;
        overflow-wrap: normal;
        padding: 0;
    }
    #hamburger-content li:hover{
        background: rgb(57, 0, 1);
        color: #9f342c;
    }
    #nav-list{
        padding: 0;
        margin: 0;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    /*ELEMENTS EN COMMUN RESPONSIVE*/
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .main{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .slider .buttom-circles {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        bottom: -60px;
        color: #6e0001;
        color:rgba(120,0,0,0.2);
    }
    .slider .buttom-circles:hover{
        color:rgba(120,0,0,0.5);
    }
    .slider > .fa {
        font-size: 60px;
        color:rgba(120,0,0,0.5);
    }
    .slider>.fa:hover{
        font-size: 50px;
        color:rgba(120,0,0,0.8);

    }
    .slider .buttom-circles .buttom-circles-list {
        font-size: 45px;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    /* PARTIE MAIN PAGE RESPONSIVE*/


    /*----------------------------------------------------------------------------------------------------------------*/
    /*PARTIE CATALOGUE RESPONSIVE*/


    /*----------------------------------------------------------------------------------------------------------------*/
    /*PARTIE CARTE INTERACTIVE RESPONSIVE/


    /*----------------------------------------------------------------------------------------------------------------*/
    /*PARTIE HISTORIQUE RESPONSIVE*/


    /*----------------------------------------------------------------------------------------------------------------*/
    /*PARTIE CONTACT RESPONSIVE*/


    /*----------------------------------------------------------------------------------------------------------------*/
    /* PARTIE FOOTER RESPONSIVE*/
    footer{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .footerstyle{
        font-size: 12px;
    }
}

