/*BASES DU SITE A NE PAS MODIFIER*/
body {
    width: 80%;
    height: 100%;
    margin: 0 10% 0 10%;
    padding: 0;
    background: #dddddd;
}
header {
    width: 100%;
    background-image: url("pictures/Bannière(1).png");
    height: 176px;
    padding: 0;
    margin: 0;
}
footer {
    width: 80%;
    background-image: url("pictures/Bannière(1).png");
    height: 80px;
    padding: 0;
    margin: 80px 10% 0 10%;
    bottom: 0;
    left: 0;
    position: fixed;
}
nav {
    width: 100%;
    background: #6e0001;
}
a{
    text-decoration: none;
}
#banniere{
    width: 100%;
    height:auto;
    position: relative;
}
.logo{
    height: 120px;
    width: auto;
    text-align: left;
}
.footerstyle{
    font-family: 'Monda', sans-serif;
    color: #b34e4a;
    font-size: 15px;
    margin: 5px 20px;
    padding: 0;
}
#nepastoucher{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0 0 100px 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* NAVIGATION BAR */
#content li{
    display: inline-block;
    width: 15%;
    height: 30px;
    text-align: center;
    margin: 0;
    padding: 5px;

    color: #b34e4a;
    font-family: 'Monda', sans-serif;
    text-decoration: none;
}
#content li:hover{
    background: #5c0001;
    color: #cd534f;
}
#nav-list{
    text-align: center;
    margin-top: 16px;
    padding: 0;
    height: auto;
}
#content{
    display: inline;
    top:0;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* ELEMENTS A UTILSER EN COMMUN*/
.text-style{
    font-family: 'Monda', sans-serif;
    color: #6e0001;
    font-size: 20px;
}

.bouton{
    color: #6e0001;
    border:2px solid #6e0001;
    border-radius: 0.5em;
    background: #cd7b75;
    font-family: 'Monda', sans-serif;
    padding: 5px;
    text-align: center;
    box-shadow:2px 1px 1px rgba(0,0,0,0.4);
    width: auto;
}

.bouton:hover{
    background: #b32e26;
    color: #490001;
    border-color: #490001;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* PARTIE MAIN PAGE*/

.slider-list, ol {
    list-style: none;
    height:80px;
}
.main {
    width: 100%;
    margin: auto;
    overflow: hidden;
    color: #fff;
    top:0;

}
.slider {
    position: relative
}
.slider .slider-parent {
    padding: 0;
    display: flex;
    margin:0;
}
.slider .slider-parent .images-list {
    background-size: cover;
}
.slider .slider-parent .images-list:first-of-type, .slider .slider-parent .images-list:last-of-type {
    background-image: url(pictures/Speecar-Kesta.jpg)
}
.slider .slider-parent .images-list:nth-of-type(2) {
    background-image: url(pictures/Speedcar-KestaII.jpg)
}
.slider .slider-parent .images-list:nth-of-type(3) {
    background-image: url(pictures/Speedcar-KestaIII.jpg)
}
.slider .slider-parent .images-list:nth-of-type(4) {
    background-image: url(pictures/Speecar-Kesta.jpg)
}
.slider .buttom-circles {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -50px;
    color: #6e0001;
}
.slider .buttom-circles .buttom-circles-list {
    display: inline-block;
}
.slider .buttom-circles .buttom-circles-list:hover .fa:before, .slider
.buttom-circles .buttom-circles-list.slider-active .fa:before {
    content: "\f111";
}
.slider > .fa {
    position: absolute;
    top: 45%;
    color: #6e0001 ;
}
.slider > .fa:first-of-type { right: 5px}
.slider > .fa:last-of-type { left: 5px}
.slider .fa {
    text-shadow: 5px 5px 5px #555;
    cursor: pointer;
}
.slider .buttom-circles .buttom-circles-list {
    font-size: 35px;
}
.bigdiv{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*PARTIE CATALOGUE*/


/*--------------------------------------------------------------------------------------------------------------------*/
/*PARTIE CARTE INTERACTIVE*/


/*--------------------------------------------------------------------------------------------------------------------*/
/*PARTIE HISTORIQUE*/
.ch {
    width: 100%;
    position: relative;
    text-align: center;
}

.compteur {
    width: 25%;
    padding-top: 10%;
}

.info1990 {
    box-shadow: 10px 5px 5px red;
    border-radius: 10%;
    position: absolute;
    text-align: center;
    font-family: 'Monda', sans-serif;
    left: 42%;
    width: 15%;
    font-size: 12px;
    bottom: 0%;
}

.historique{
    text-shadow: 1px 1px 2px black;
}

.info2004
{
    font-size: 12px;
    box-shadow: 10px 5px 5px red;
    position: absolute;
    text-align: center;
    font-family: 'Monda', sans-serif;
    width: 15%;
    left: 42%;
    bottom: -10%;
}

.info2013 {
    font-size: 12px;
    box-shadow: 10px 5px 5px red;
    position: absolute;
    text-align: center;
    font-family: 'Monda', sans-serif;
    width: 15%;
    left: 42%;
    bottom: 0;
}

.survol {
    position: absolute;
    text-align: center;
    font-family: 'Monda', sans-serif;
    text-shadow: 1px 1px 2px black;
}

.historique {
    font-weight: bold;
    position: absolute;
    text-align: center;
    font-family: 'Monda', sans-serif;
    left: 13%;
    bottom: 74%;
    font-size: 31px;
}

.survol {
    font-weight: bold;
    position: absolute;
    text-align: center;
    font-family: 'Monda', sans-serif;
    left: 22%;
    bottom: 65%;
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
}

.p2004 p:hover {
    font-size: 1.5em;
}

.p2019 p:hover {
    font-size: 1.5em;
}

.p2013 p:hover {
    font-size: 1.5em;
}

.p1990 p:hover {
     font-size: 1.5em;
}

.p1990 {

    text-align: center;
    font-family: 'Monda', sans-serif;
    width: 5%;
    position: absolute;
    left: 40%;
    bottom: 19%;
    color: indianred;
    font-weight: bold;
    text-shadow: 2px 1px 1px black;
}

.p2004 {
    text-shadow: 2px 1px 1px black;
    position: absolute;
    font-weight: bold;
    color: yellowgreen;
    font-family: 'Monda', sans-serif;
    left: 41%;
    bottom: 39%;
    width: 5%;
}

.p2013 {
    position: absolute;
    width: 5%;
    font-weight: bold;
    font-family: 'Monda', sans-serif;
    bottom: 39%;
    left: 54%;
    color: orange;
    text-shadow: 2px 1px 1px black;
}

.p2019 {
    position: absolute;
    width: 5%;
    font-weight: bold;
    color: red;
    font-family: 'Monda', sans-serif;
    left: 55%;
    bottom: 19%;
    text-shadow: 2px 1px 1px black;
}

#i1, #i2, #i3
{
    font-weight: bold;
    border: black solid 1px;
    opacity: 0;
}

.ch{
    border-radius: 40%;
    background: lightgray;

}

/*--------------------------------------------------------------------------------------------------------------------*/
/*PARTIE CONTACT*/
form {
   position: relative;
    font-family: 'Monda', sans-serif;
margin: 0;
    font-weight: bold;

}

#contacteznous
{
    position: relative;
    font-size: 30px;
}

.contact {
    position: relative;
}

input, textarea {
    position: relative;
    background-color:#FFF3F3;
    padding:3px;
    border:1px solid rgba(62,89,255,0.51)
    border-radius:5px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*MEDIA QUERY POUR MOBILE ET TABLETTE*/
@media screen and (max-width: 812px) {
    /*BASE RESPONSIVE*/
    body{
        width:100%;
        padding: 0;
        margin: 0;
    }
    nav{
        background: none;
        padding: 0;
        margin: 0;
    }
    header{
        height: 120px;
        padding-top: 0;
        margin-bottom: 150px;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    /* MENU DE NAVIGATION RESPONSIVE*/
    #content li{
        font-size: 20px;
        display: block;
        width: 100%;
        background: #6e0001;
        overflow-wrap: normal;
        padding: 0;
    }
    #hamburger-content li:hover{
        background: rgb(57, 0, 1);
        color: #9f342c;
    }
    #nav-list{
        padding: 0;
        margin: 0;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    /*ELEMENTS EN COMMUN RESPONSIVE*/
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .main{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .slider .buttom-circles {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        bottom: -60px;
        color: #6e0001;
        color:rgba(120,0,0,0.2);
    }
    .slider .buttom-circles:hover{
        color:rgba(120,0,0,0.5);
    }
    .slider > .fa {
        font-size: 60px;
        color:rgba(120,0,0,0.5);
    }
    .slider>.fa:hover{
        font-size: 50px;
        color:rgba(120,0,0,0.8);

    }
    .slider .buttom-circles .buttom-circles-list {
        font-size: 45px;
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    /* PARTIE MAIN PAGE RESPONSIVE*/


    /*----------------------------------------------------------------------------------------------------------------*/
    /*PARTIE CATALOGUE RESPONSIVE*/


    /*----------------------------------------------------------------------------------------------------------------*/
    /*PARTIE CARTE INTERACTIVE RESPONSIVE/


    /*----------------------------------------------------------------------------------------------------------------*/
    /*PARTIE HISTORIQUE RESPONSIVE*/
    @media (max-width: 812px) {
textarea{
    width: 50%;
}
        .ch{
            border-radius: 22%;
            background: lightgray;
        }


        .survol {
            font-weight: bold;
            position: absolute;
            text-align: center;
            font-family: 'Monda', sans-serif;
            left: 22%;
            bottom: 76%;
            font-size: 13px;
        }

        .historique {
            text-shadow: 1px 1px 2px black;
            font-weight: bold;
            position: absolute;
            text-align: center;
            font-family: 'Monda', sans-serif;
            left: 9%;
            bottom: 87%;
            font-size: 16px;
        }
        .compteur {
            width: 65%;
            padding-top: 10%;
        }

        .info1990 {
            box-shadow: 10px 5px 5px red;
            border-radius: 10%;
            position: absolute;
            text-align: center;
            font-family: 'Monda', sans-serif;
            font-size: 12px;
            width: 50%;
            left: 25%;
            bottom: 2%;
            text-shadow: 2px 1px 1px black;
        }

        .info2004
        {
            font-size: 12px;
            box-shadow: 10px 5px 5px red;
            position: absolute;
            text-align: center;
            font-family: 'Monda', sans-serif;
            width: 50%;
            left: 25%;
            bottom: -12%;
            text-shadow: 2px 1px 1px black;
        }

        .info2013 {
            font-size: 12px;
            box-shadow: 10px 5px 5px red;
            position: absolute;
            text-align: center;
            font-family: 'Monda', sans-serif;
            width: 37%;
            left: 25%;
            bottom: -10px;
            text-shadow: 2px 1px 1px black;
        }

        .p1990 {
            text-align: center;
            font-size: 16px;
            font-family: 'Monda', sans-serif;
            width: 15%;
            position: absolute;
            left: 24%;
            bottom: 25%;
            color: indianred;
            font-weight: bold;
            text-shadow: 2px 1px 1px black;
        }

        .p2004 {
            position: absolute;
            font-weight: bold;
            color: yellowgreen;
            font-family: 'Monda', sans-serif;
            left: 27%;
            bottom: 49%;
            width: 15%;
            text-shadow: 2px 1px 1px black;
        }

        .p2013 {
            position: absolute;
            width: 15%;
            font-weight: bold;
            font-family: 'Monda', sans-serif;
            bottom: 49%;
            left: 59%;
            color: orange;
            text-shadow: 2px 1px 1px black;
        }

        .p2019 {
            position: absolute;
            width: 15%;
            font-weight: bold;
            color: red;
            font-family: 'Monda', sans-serif;
            left: 61%;
            bottom: 26%;
            text-shadow: 2px 1px 1px black;
        }

    }
    /*----------------------------------------------------------------------------------------------------------------*/
    /*PARTIE CONTACT RESPONSIVE*/
    @media (max-width: 812px) {
        form {
            position: relative;
            font-family: 'Monda', sans-serif;
            margin: 0;
            font-weight: bold;

        }

        #contacteznous {
            position: relative;
            font-size: 30px;
        }

        .contact {
            position: relative;
        }

        input, textarea {
            position: relative;
            background-color: #FFF3F3;
            padding: 3px;
            border: 1px solid rgba(62, 89, 255, 0.51)
            border-radius: 5px;
            box-shadow: 1px 1px 2px #C0C0C0 inset;
        }
    }

    /*----------------------------------------------------------------------------------------------------------------*/
    /* PARTIE FOOTER RESPONSIVE*/
    footer{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .footerstyle{
        font-size: 12px;
    }
}

