/*BASES DU SITE A NE PAS MODIFIER*/
body {
    width: 80%;
    margin: 0 10% 0 10%;
    padding: 0;
    background: #dddddd;
}
header {
    width: 100%;
    background-image: url("pictures/Bannière(1).png");
    height: 176px;
    padding: 0;
    margin: 0;
}
footer {
    clear: both;
    width: 100%;
}
nav {
    width: 100%;
    background: #6e0001;
}
a{
    text-decoration: none;
}
#banniere{
    width: 100%;
    height:auto;
    position: relative;
}
.logo{
    height: 120px;
    width: auto;
    text-align: left;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* NAVIGATION BAR */
#content li{
    display: inline-block;
    width: 15%;
    height: 30px;
    text-align: center;
    margin: 0;
    padding: 5px;

    color: #b34e4a;
    font-family: 'Monda', sans-serif;
    text-decoration: none;
}
#content li:hover{
    background: #5c0001;
    color: #cd534f;
}
#nav-list{
    text-align: center;
    margin-top: 16px;
    padding: 0;
    height: auto;
}
#content{
    display: inline;
    top:0;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* ELEMENTS A UTILSER EN COMMUN*/
.text-style{
    font-family: 'Monda', sans-serif;
    color: #6e0001;
    font-size: 20px;
}

.bouton{
    color: #6e0001;
    border:2px solid #6e0001;
    border-radius: 0.5em;
    background: #cd7b75;
    padding: 5px;
    text-align: center;
    box-shadow:2px 1px 1px rgba(0,0,0,0.4);
    width: auto;
}

.bouton:hover{
    background: #b32e26;
    color: #490001;
    border-color: #490001;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* PARTIE MAIN PAGE*/


/*--------------------------------------------------------------------------------------------------------------------*/
/*PARTIE CATALOGUE*/


/*--------------------------------------------------------------------------------------------------------------------*/
/*PARTIE CARTE INTERACTIVE*/


/*--------------------------------------------------------------------------------------------------------------------*/
/*PARTIE HISTORIQUE*/


/*--------------------------------------------------------------------------------------------------------------------*/
/*PARTIE CONTACT*/


/*--------------------------------------------------------------------------------------------------------------------*/
/*MEDIA QUERY POUR MOBILE ET TABLETTE*/
@media screen and (max-width: 812px) {
    /*BASE RESPONSIVE*/
    body{
        width:100%;
        padding: 0;
        margin: 0;
    }
    nav{
        background: none;
        padding: 0;
        margin: 0;
    }
    header{
        height: 120px;
        padding-top: 10px;
        margin-bottom: 200px;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    /* MENU DE NAVIGATION RESPONSIVE*/
    #content li{
        font-size: 20px;
        display: block;
        width: 100%;
        background: #6e0001;
        overflow-wrap: normal;
    }
    #hamburger-content li:hover{
        background: rgb(57, 0, 1);
        color: #9f342c;
    }
    #nav-list{
        padding: 0;
        margin: 0;
    }
    /*----------------------------------------------------------------------------------------------------------------*/
    /*ELEMENTS EN COMMUN RESPONSIVE*/


    /*----------------------------------------------------------------------------------------------------------------*/
    /* PARTIE MAIN PAGE RESPONSIVE*/


    /*----------------------------------------------------------------------------------------------------------------*/
    /*PARTIE CATALOGUE RESPONSIVE*/


    /*----------------------------------------------------------------------------------------------------------------*/
    /*PARTIE CARTE INTERACTIVE RESPONSIVE/


    /*----------------------------------------------------------------------------------------------------------------*/
    /*PARTIE HISTORIQUE RESPONSIVE*/


    /*----------------------------------------------------------------------------------------------------------------*/
    /*PARTIE CONTACT RESPONSIVE*/


    /*----------------------------------------------------------------------------------------------------------------*/
}

